#!/bin/sh

############################################################
# General configuration settings for handbackData
# 
# Used by all scripts:
#	handbackData
#	sendEmails


#where is the directory containing archives to be picked up by clients
OUTGOING_DIR=/data/WHRI-GenomeCentre/outgoing

#location of scripts, mandate, logs and resources directory
OUTGOING_ADMIN_DIR=/data/WHRI-GenomeCentre/outgoing_admin

#mandate
MANDATE_DIR=${OUTGOING_ADMIN_DIR}/mandate
HANDBACK_MANDATE=${MANDATE_DIR}/handbackMandate
DELETION_MANDATE=${MANDATE_DIR}/deletionMandate

#resources
RESOURCES_DIR=${OUTGOING_ADMIN_DIR}/resources

#logs
LOGS_DIR=${OUTGOING_ADMIN_DIR}/logs
LOG=${OUTGOING_ADMIN_DIR}/logs/handbackData.log

#archives will be assembled here and then moved to the OUTGOING_DIR
TMP_DIR=${OUTGOING_ADMIN_DIR}/tmpdir

#archives ready for deletion will be moved here
DELETION_DIR=${OUTGOING_ADMIN_DIR}/deletion

#program that called this config script
PROG_NAME=$0


############################################################
#settings used only by sendEmails
#
#TOTAL_WARNINGS
#number of emails to be sent warning about deletion
#note - the number of WARNINGS_GIVEN is kept in the mandate file
#and starts at 0 and is increased by 1 each time this script 
#sends an email
#when WARNINGS_GIVEN is equal to TOTAL_WARNINGS, this script 
#will delete the archive in the outgoing directory and add its mandate line to a mandate file
#to be used by a script (or human) that deletes the original archive as well
#
#the warning process can be restarted by simply changing the first number
#in the mandate file (warnings given) back to 0
#the warning process can be stopped by changing the first number 
#in the mandate file (warnings given) to 4 (or whatever TOTAL_WARNINGS is)
TOTAL_WARNINGS=4

#DAYS_BEFORE_DELETION
#days (after first warning date) before deletion
#note - the date that the first warning was sent is set in mandate file by this script
#when it sends the first email
DAYS_BEFORE_DELETION=35

#CC_EMAIL
#administrator to be cc-ed on all emails
CC_EMAIL="i.donaldson@qmul.ac.uk c.a.mein@qmul.ac.uk"

#TEMPLATE_EMAIL
#path and name of file to be used to compose email
TEMPLATE_EMAIL=${RESOURCES_DIR}/email.template.txt

#NEW_HANDBACK_MANDATE
#path and filename of temporary handback mandate that is written by sendEmails
#and will replace the HANDBACK_MANDATE once it has finished
NEW_HANDBACK_MANDATE=${MANDATE_DIR}/newHandbackMandate


###
# end settings
###
